__pycache__
*.ini
.vscode/
.idea/
node_modules/
.cache/**
!.cache/.cache_directory

## Update log

### 2024-05-25
-Added a switch in the settings to select whether to display node documents
-Add local document modification function. If you feel there is a problem with the document, you can modify it locally without affecting others
-Added a switch in the settings for whether to participate in co construction. You can choose whether to participate in co construction or not. By default, it will be turned on, and the locally modified records will be recorded in the cloud DB. After review, they will be merged into the main branch
-Add the functions of exporting and importing documents. Exporting documents will export and download locally modified records and documents provided by the warehouse. Importing documents will import the exported documents locally without affecting the documents in the main warehouse.
-Fixed some bugs